$white-color: #FFFFFF;
$green-color: #2dce89;
$green-hover-color: #26af74;
$gray-light-color: #efefef;
$gray-color: #6c757d;
$gray-dark-color: #525f7f;
$orange-color: #FB6340;
$dark-color: #212529;
$red-color: #F5365C;
$purple-color: #555abf;
$purple-light-color: #6772e5;

$bg-color: $gray-light-color;
$text-color: $dark-color;
$title-color: $gray-dark-color
