.navbar {
  background: $white-color;
  padding: 15px 50px;
  position: fixed;
  width: 100%;

  .brand {
    color: $gray-dark-color;
    text-decoration: none;
    font-weight: 600;
  }
}

header {
  background: linear-gradient(150deg,#7795f8 15%,#6772e5 70%,#555abf 94%);
  padding: 7rem 5rem 5rem;
  width: 100%;

  .container {
    flex-direction: column;

    h1 {
      color: $white-color;
      line-height: 1.3;
      font: {
        weight: 600;
        size: 40px
      }

      span {
        display: block;
        margin-bottom: 25px;
        font: {
          weight: 300;
          size: 35px
        }
      }
    }

    p {
      font-size: 20px;
      color: $white-color;
      width: 100%;
      max-width: 650px;
      margin-bottom: 40px;
    }

    .content {
      .btn {
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}

nav {
  width: 100%;
  background: $purple-color;
  margin-bottom: 30px;
  ul {
    li {
      list-style: none;

      a {
        text-decoration: none;
        padding: 10px 20px;
        color: $white-color;
        font-weight: 400;
        display: flex;
        transition: all ease 0.5s;

        &:hover {
          background: $purple-light-color;
        }
      }
    }
  }
}
